.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 9rem;
    background-color: $color-white;
    box-shadow: 0 .3rem 1rem rgba($color-black, 0.2);
    z-index: 999;
    @include respond(desktop) {
        height: 8rem;
    }
    @include respond(tab-port) {
        height: 7rem;
    }
}

////////////////
// HEADER
.header {
    height: 100vh;
    &__text-box {
        height: 100%;
        margin: 0 auto;
        background-image: url(images/home_vegetables_slider_bg.jpg);
        background-size: cover;
        background-position: top;
        background-attachment: scroll;
        margin-bottom: 10rem;
    }
}

/////////////////////
// SECTION OFFER
.section-offer {
    margin-top: -8rem;
    @include respond(desktop) {
        margin-top: -2rem;
    }
    @include respond(tab-port) {
        flex-direction: column;
    }
    .our-offer {
        flex: 1;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 15rem 0;
        background-image: url(images/home_vegetables_wrapbg1.png);
        background-repeat: no-repeat;
        z-index: 4;
        @include respond(desktop) {
            padding: 6rem 0;
            align-items: flex-start;
        }
        @include respond(tab-land) {
            align-items: center;
        }
        @include respond(tab-port) {
            flex-direction: column;
            align-items: center;
            padding: 4rem 1rem;
            //  background-size: cover;
            ;
        }
        &__column {
            //  align-items: flex-end;
            margin: 0 2rem;
            @include respond(desktop) {
                margin: 0 1rem;
            }
            @include respond(tab-land) {
                margin: 0 .5rem;
            }
            @include respond(tab-port) {
                margin: 1rem 0;
            }
        }
    }
}

////////////////////////////////////////////////////////////////
//SECTION INSPIRATION
.section-inspiration {
    background-image: url(images/home_vegetables_sectionbg1.jpg);
    background-size: auto;
    background-position: top;
    padding: 11rem 0 18rem 0;
    @include respond(desktop) {
        padding: 6rem 1rem 10rem 1rem;
    }
    @include respond(tab-port) {
        background-image: none;
        padding: 2rem 1rem 5rem 1rem;
    }
}

//////////////////////////////////////////
// SECTION STATISTIC
.statistic {
    background-image: url(images/home_vegetables_wrapbg2.jpg);
    background-size: auto;
}

/////////////////////
// SECTION  PRICES
.prices {
    display: flex;
    flex-direction: column;
    margin: 5 0rem;
    @include respond(tab-land) {
        padding: 2rem 0;
    }
    h2 {
        color: $color-black;
        margin: 0;
    }
}

//////////////@at-root
// SECTION CONTACT
.section-contact {
    background-image: url(images/home_vegetables_subheader4.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    .contact {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-bottom: 4rem;
        &__header {
            display: flex;
            justify-content: center;
            align-items: center;
            .title {
                margin: 8rem 0;
                @include respond(desktop) {
                    margin: 6rem 0;
                }
            }
        }
        &__form {
            display: flex;
            height: auto;
            background-color: $color-white;
            position: relative;
            @include respond(tab-land) {
                flex: 1;
            }
        }
    }
}

//////////////////////////////////////////////////////////@at-root
// SECTION FOOTER
footer {
    background-image: url(images/home_vegetables_sectionbg3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .copyright {
        background-color: rgb(249, 245, 241);
        @include boxShadow;
        &__text {
            color: $color-black;
            font-size: 1.6rem;
            font-weight: 700;
            padding: 2rem 0;
        }
    }
}