       .statistic {
           padding: 2rem;
           margin-top: -11rem;
           @include respond(desktop) {
               margin-top: -5rem;
               padding: 6rem;
           }
           @include respond(tab-port) {
               padding: 0rem;
           }
           //  &__icon {}
           &__box {
               display: flex;
               background: $color-white;
               padding: 9rem 5rem;
               justify-content: space-around;
               position: relative;
               @include respond(tab-land) {
                   padding: 2rem;
               }
               @include respond(tab-port) {
                   flex-direction: column;
                   align-items: center;
                   padding: 0;
                   background-color: transparent;
               }
           }
           &__calculations {
               display: flex;
               flex-direction: column;
               justify-content: space-evenly;
               @include respond(tab-port) {
                   // position: absolute;
                   // bottom: 0;
                   //left: 50%;
                   // transform: translateX(-50%);
                   width: 100%;
                   height: 40rem;
                   align-items: center;
                   background-color: rgba($color-white, .4);
                   overflow-x: hidden;
                   justify-content: center;
               }
           }
           &__number {
               font-size: 18rem;
               font-weight: 300;
               line-height: 1.2;
               color: $color-black;
               @include respond(desktop) {}
               @include respond(tab-port) {
                   color: $color-white;
                   background-color: $color-primary;
                   border-radius: 50%;
                   padding: 5rem 1rem;
                   font-size: 15rem;
               }
           }
           &__text {
               font-family: $font-secondary;
               font-weight: 700;
               color: $color-primary;
               font-size: 2.5rem;
               @include respond(tab-land) {
                   font-size: 2rem;
               }
               @include respond(tab-port) {
                   justify-content: center;
                   color: $color-white;
                   background-color: $color-primary;
                   margin-top: 2rem;
                   padding: 0 1rem;
               }
           }
       }

       .lineEffect {
           width: 100%;
           margin-top: -10rem;
           &__line {
               @include separator;
               margin: 0 auto;
               height: 150px;
               @include respond(tab-land) {
                   height: 130px;
               }
           }
           @include respond(tab-port) {
               display: none;
           }
       }