.btn {
    &,
    &:link,
    &:visited {
        font-size: 1.5rem;
        text-decoration: none;
        display: inline-block;
        border-radius: 3px;
    }
    &--white,
    &--grey,
    &--orange {
        transition: all 0.4s;
    }
    &--white {
        color: $color-white;
        border: 3px solid $color-white;
        padding: 1.2rem 2.5rem;
        font-weight: 700;
        &:hover {
            background-color: $color-white;
            color: $color-primary;
        }
    }
    &--grey {
        color: $color-primary;
        border: 3px solid $color-grey-light-2;
        padding: 1.2rem 2rem;
        font-weight: 400;
        &:hover {
            background-color: $color-grey-light-2;
            color: $color-white;
        }
    }
    &--orange {
        color: $color-primary;
        border: 2px solid $color-primary;
        padding: 1.2rem 2rem;
        font-weight: 400;
        &:hover {
            background-color: $color-primary;
            color: $color-white;
        }
    }
}