.popup {
    width: 100%;
    height: 100vh;
    background-color: rgba($color-black, .8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(4px);
    &__content {
        @include centered;
        width: 50%;
    }
    &:target {
        opacity: 1;
        visibility: visible;
    }
    &__image {
        width: 100%;
        position: relative;
        &:active,
        &:focus {
            outline: none;
        }
    }
    &__close {
        font-size: 4rem;
        color: $color-grey-light;
        position: absolute;
        top: -60px;
        right: 1px;
        transition: all 0.4s;
        &:link,
        &:visited {
            outline: none;
            text-decoration: none;
        }
        &:hover {
            color: $color-white;
        }
    }
}